---
- name: Configure private automation hub after installation
  hosts: all
  gather_facts: false
  connection: local
  vars_files:
    - "../vaults/{{ env }}.yml"
  tasks:
    - name: Include repository role
      ansible.builtin.include_role:
        name: infra.ah_configuration.repository

    - name: Include repository sync role
      ansible.builtin.include_role:
        name: infra.ah_configuration.repository_sync

    - name: Publish custom collections
      when: publish | default(false)
      block:
        - name: Include namespace role
          ansible.builtin.include_role:
            name: infra.ah_configuration.namespace

        - name: Include publish role
          ansible.builtin.include_role:
            name: infra.ah_configuration.publish

    - name: Include group role
      ansible.builtin.include_role:
        name: infra.ah_configuration.group
      when: ah_groups | length is not match('0')

    - name: Include user role
      ansible.builtin.include_role:
        name: infra.ah_configuration.user
      when: ah_users | length is not match('0')
...
