---
- name: Deploy Ansible Automation Platform
  hosts: "{{ env | default('dev') }}" # noqa: syntax-check
  connection: local
  vars_files:
    - "../vaults/{{ env }}.yml"
  tasks:
    - name: Include aap_setup_download role
      ansible.builtin.include_role:
        name: infra.aap_utilities.aap_setup_download

    - name: Include aap_setup_prepare role
      ansible.builtin.include_role:
        name: infra.aap_utilities.aap_setup_prepare

    - name: Include aap_setup_install role
      ansible.builtin.include_role:
        name: infra.aap_utilities.aap_setup_install

- name: Configure ansible controller post installation
  hosts: "{{ env | default('dev') }}" # noqa: syntax-check
  vars_files:
    - "../vaults/{{ env }}.yml"
  connection: local
  tasks:
    - name: Get subscriptions with a filter
      ansible.controller.subscriptions:
        username: "{{ rh_username }}"
        password: "{{ rh_password }}"
        filters:
          product_name: Red Hat Ansible Automation Platform
          support_level: Self-Support
        controller_host: "{{ aap_hostname }}"
        aap_username: "{{ aap_username }}"
        aap_password: "{{ aap_password }}"
        validate_certs: false
      register: subscription

    - name: Attach to a pool
      ansible.controller.license:
        pool_id: "{{ subscription.subscriptions[0].pool_id }}"
        controller_host: "{{ aap_hostname }}"
        aap_username: "{{ aap_username }}"
        aap_password: "{{ aap_password }}"
        validate_certs: false

    - name: Figuring out AH token
      when: ah_token is not defined or ah_token['token'] is defined
      block:
        - name: Authenticate and get an API token from Automation Hub
          infra.ah_configuration.ah_token:
            ah_hostname: "{{ aap_hostname | default(groups['automationhub'][0]) }}"
            ah_username: "{{ hub_token_username | default('admin') }}"
            hub_password: "{{ hub_api_user_pass }}"
            ah_path_prefix: galaxy # this is for private automation hub
            validate_certs: false
          register: r_hub_token

        - name: Fixing format
          ansible.builtin.set_fact:
            hub_token: "{{ ah_token['token'] }}"
          when: r_hub_token['changed'] # noqa: no-handler

    - name: Call dispatch role
      ansible.builtin.include_role:
        name: infra.aap_configuration.dispatch

    - name: Launch build execution environment job template
      ansible.controller.job_launch:
        name: build_execution_environments
        controller_host:     "{{ aap_hostname }}"
        aap_username: "{{ aap_username }}"
        aap_password: "{{ aap_password }}"
        validate_certs:      "{{ aap_validate_certs }}"

...
